@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #73706e;
}

:root {
  --button-bg: theme('colors.button.bg');
  --button-text: theme('colors.button.text');

  --cards-back: theme('colors.cards.back');
  --cards-black: theme('colors.cards.black');
  --cards-front: theme('colors.cards.front');
  --cards-red: theme('colors.cards.red');

  --counter-bg: theme('colors.counter.bg');
  --counter-text: theme('colors.counter.text');
}
